#cal{
border: 2px solid black;
border-radius: 5px;
text-align: center;
margin: 5px 10px;
width: 200px;
background-color: rgba(8, 3, 3, 0.808);
}

.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 10px;
}

#display{
    width: 170px;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;
}